html
	head
		title Twitter Bot App!
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
body
	.main.container
		.row
			.col-md-6.col-md-offset-3
				h1.display-4.m-b-2 Search Results
					query